---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="hero compact">
    <div class="container">
      <h1>{frontmatter.title}</h1>
    </div>
  </section>

  <main class="markdown-page container">
    <slot />
  </main>
</BaseLayout>
